<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col col-12">

                <div class="footer__inner">

                    <div class="social">
                        <ul class="social__list list-reset">

                            {% if site.linkedin %}
                            <li class="social__item">
                                <a class="social__link"
                                    href="https://www.linkedin.com/in/{{ site.linkedin | cgi_escape | escape }}"
                                    target="_blank" rel="noopener" aria-label="LinkedIn link">
                                    <i class="fa fa-linkedin"></i>
                                    LinkedIn
                                </a>
                            </li>
                            {% endif %}

                            {% if site.github %}
                            <li class="social__item">
                                <a class="social__link"
                                    href="https://www.github.com/{{ site.github | cgi_escape | escape }}"
                                    target="_blank" rel="noopener" aria-label="Github link">
                                    <i class="fa fa-github"></i>
                                    Github
                                </a>
                            </li>
                            {% endif %}

                            {% if site.email %}
                            <li class="social__item">
                                <a class="social__link" href="mailto:{{ site.email | cgi_escape | escape }}"
                                    target="_blank" rel="noopener" aria-label="Email link">
                                    <i class="fa fa-envelope"></i>
                                    Contact Me
                                </a>
                            </li>
                            {% endif %}


                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>

</footer>