<header class="header">
    <div class="container">
        <div class="row">
            <div class="header__inner col col-12">

                <div class="logo">
                    <a class="logo__link" href="../index.html">

                        kiedanski.

                    </a>
                </div>

                <nav class="main-nav">
                    <div class="main-nav__box">
                        <div class="nav__icon-close">
                            <i class="ion ion-md-close"></i>
                        </div>
                        <div class="nav__title">Menu</div>
                        <ul class="nav__list list-reset">

                            {% for item in site.data.navigation %}
                            <li class="nav__item">
                                <a href="{{ item.link }}" {% if page.url==item.link
                                    %}class="nav__link nav__link--current" {% else %}class="nav__link" {% endif %}>{{
                                    item.name}}</a>
                            </li>
                            {% endfor %}


                            <li class="nav__item">
                                <div class="toggle-theme">
                                    <div class="toggle-moon" title="Enable dark mode"><i class="ion ion-ios-moon"></i>
                                    </div>
                                    <div class="toggle-sun" title="Enable light mode"><i class="ion ion-ios-sunny"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="nav-button">
                    <i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
                </div>

            </div>
        </div>
    </div>
</header>