---
layout: default
---



<!-- begin header -->

<!-- end header -->

<!-- begin content -->
<main class="content" aria-label="Content">
  <!-- begin hero -->
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col col-10 col-d-12">
          <div class="hero__inner">

            <h1 class="hero__title">{{ page.title }}</h1>


            <p class="hero__description">{{ page.description }}</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end hero -->

  <div class="container">
    <div class="row animate">

      {% for post in paginator.posts %}

      <div class="article col col-4 col-d-6 col-t-12">
        <div class="article__inner">

          <div class="article__head">
            <time class="article__date" datetime="{{ post.date }}">{{ post.date | date: "%-d %B %Y"
              }}</time>

            <a class="article__image" href="{{ post.url }}">
              <img class="lazy" data-src="{{ post.image }}" alt="{{ post.image-alt }}">
            </a>

          </div>

          <div class="article__content">

            <h2 class="article__title">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>

            <p class="article__excerpt">
              {{ post.excerpt }}
            </p>

          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>



  <!-- begin pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <nav class="pagination">
          <div class="pagination__inner">

            <div class="pagination__list">


              {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path |  relative_url }}" class="pagination__next pagination__item">
                Prev
              </a>
              {% else %}
              <span class="pagination__next pagination__item disabled">Prev</span>
              {% endif %}

              <div class="pagination__count pagination__item">Page {{ paginator.page }} of {{paginator.total_pages }}
              </div>

              <!-- {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
              <em>{{ page }}</em>
              {% elsif page == 1 %}
              <a href="{{ '/' | relative_url }}">{{ page }}</a>
              {% else %}
              <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
              {% endif %}
              {% endfor %} -->


              {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path | relative_url }}" class="pagination__next pagination__item">
                Next
              </a>
              {% else %}
              <span class="pagination__next pagination__item disabled">Next</span>
              {% endif %}


            </div>

          </div>
        </nav>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- end pagination -->



  <!-- begin subscribe -->

  <!-- end subscribe -->

</main>
<!-- end content -->