<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name='description' content='{{ site.description }}'>

    <link rel="canonical" href="index.html">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="kiedanski.">
    <meta name="twitter:description" content="">
    <!-- <meta name="twitter:image:src" content=""> add image url here -->

    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="kiedanski.">
    <meta property="og:description" content="">
    <!-- <meta property="og:image" content=""> add image url here -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Josefin+Sans:wght@700&display=swap"
        as="style">

    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Josefin+Sans:wght@700&display=swap"
        rel="stylesheet">


    <!-- Ionicons -->
    <link rel="preload" href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" as="style">

    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

    <script>
        if (localStorage.getItem("theme") === "dark") {
            document.documentElement.setAttribute("dark", "");
            document.documentElement.classList.add('dark-mode');
        }

        if (localStorage.getItem("classView") === "list") {
            document.documentElement.setAttribute("list", "");
            document.documentElement.classList.add('view-list');
        }
    </script>

</head>

<body>
    {% include header.html %}
    {{ content }}

    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/common.js"></script>

    <div class="top" title="Top"><i class="ion ion-ios-arrow-round-up"></i></div>
    <!-- {% include subscribe.html %} -->
    {% include footer.html %}
</body>

</html>