---
layout: default
---

<!-- begin header -->

<!-- end header -->

<!-- begin content -->
<main class="content" aria-label="Content">
    <!-- begin hero -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col col-10 col-d-12">
                    <div class="hero__inner">
                        <h1 class="hero__title">{{ site.hero_title }}</h1>
                        <p class="hero__description">{{ site.hero_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog section">

        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="section__info">
                        <div class="section__head">
                            <h2 class="section__title">Recent posts</h2>
                            <a class="section__link" href="blog/index.html">View all posts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                {% for post in site.posts limit:3 %}

                <div class="article col col-4 col-d-6 col-t-12">
                    <div class="article__inner">

                        <div class="article__head">
                            <time class="article__date" datetime="{{ post.date }}">{{ post.date | date: "%-d %B %Y"
                                }}</time>

                            <a class="article__image" href="{{ post.url }}">
                                <img class="lazy" data-src="{{ post.image }}" alt="{{ post.image-alt }}">
                            </a>

                        </div>

                        <div class="article__content">

                            <h2 class="article__title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h2>

                            <p class="article__excerpt">
                                {{ post.excerpt }}
                            </p>

                        </div>
                    </div>
                </div>
                {% endfor %}






            </div>
        </div>

    </section>

</main>