---
layout: default
---



<!-- begin content -->
<main class="content" aria-label="Content">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="post__info">


          <div class="post__tags">

            <a href="../tags.html#travel" class="post__tag">travel</a>

            <a href="../tags.html#story" class="post__tag">story</a>

            <a href="../tags.html#rest" class="post__tag">rest</a>

          </div>


          <h1 class="post__title">{{ page.title }}</h1>

          <div class="post__meta">
            <a class="post__author" href="../about/index.html">{{ site.author }}</a> – <time class="post__date"
              datetime="{{ page.date }}">{{ page.date | date: "%-d %B %Y"}}</time>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- begin post -->
  <div class="container animate">


    <div class="row">
      <div class="col col-12">
        <div class="post-image">
          <img class="lazy" data-src="{{ page.image }}" alt="{{ page.image-alt }}">
        </div>
      </div>
    </div>


    <article class="post">

      <div class="post__content">
        {{ content }}
      </div>


    </article>
  </div>







  <!-- begin related posts -->
  <!-- <div class="container">
    <section class="section related-posts is-related animate">
      <div class="row">
        <div class="col col-12">
          <div class="container__inner">
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">You may also like</h2>
                <a class="section__link" href="../blog.html">



                  <a href="../tags.html#travel" class="section__link related-tag">See all<span> travel</span></a>







                </a>
              </div>
            </div>
            <div class="row">
















              <div class="article col col-4 col-d-6 col-t-12">
                <div class="article__inner">

                  <div class="article__head">
                    <time class="article__date" datetime="2018-11-12T12:01:35+00:00">12 Nov 2018</time>

                    <a class="article__image" href="do-what-you-can-with-what-you-have-where-you-are.html">
                      <img class="lazy" data-src="/images/07.jpg"
                        alt="Do what you can, with what you have, where you are">
                    </a>

                  </div>

                  <div class="article__content">

                    <h2 class="article__title">
                      <a href="do-what-you-can-with-what-you-have-where-you-are.html">Do what you can, with what you
                        have, where you are</a>
                    </h2>

                    <p class="article__excerpt">Leverage agile frameworks to provide a robust synopsis for high level
                      overvie...</p>

                  </div>
                </div>
              </div>












              <div class="article col col-4 col-d-6 col-t-12">
                <div class="article__inner">

                  <div class="article__head">
                    <time class="article__date" datetime="2018-11-11T12:01:35+00:00">11 Nov 2018</time>

                    <a class="article__image" href="if-you-cannot-do-great-things-do-small-things-in-a-great-way.html">
                      <img class="lazy" data-src="/images/04.jpg"
                        alt="If you cannot do great things, do small things in a great way">
                    </a>

                  </div>

                  <div class="article__content">

                    <h2 class="article__title">
                      <a href="if-you-cannot-do-great-things-do-small-things-in-a-great-way.html">If you cannot do great
                        things, do small things in a great way</a>
                    </h2>

                    <p class="article__excerpt">Leverage agile frameworks to provide a robust synopsis for high level
                      overvie...</p>

                  </div>
                </div>
              </div>












              <div class="article col col-4 col-d-6 col-t-12">
                <div class="article__inner">

                  <div class="article__head">
                    <time class="article__date" datetime="2018-11-10T12:01:35+00:00">10 Nov 2018</time>

                    <a class="article__image" href="strive-not-to-be-a-success-but-rather-to-be-of-value.html">
                      <img class="lazy" data-src="/images/09.jpg"
                        alt="Strive not to be a success, but rather to be of value">
                    </a>

                  </div>

                  <div class="article__content">

                    <h2 class="article__title">
                      <a href="strive-not-to-be-a-success-but-rather-to-be-of-value.html">Strive not to be a success,
                        but rather to be of value</a>
                    </h2>

                    <p class="article__excerpt">Leverage agile frameworks to provide a robust synopsis for high level
                      overvie...</p>

                  </div>
                </div>
              </div>




            </div>
          </div>
        </div>
      </div>
    </section>
  </div> -->
  <!-- end related posts -->


  <!-- begin subscribe -->

  <!-- end subscribe -->

</main>
<!-- end content -->


<!-- begin footer -->

<!-- end footer -->